<h1>Python and MySQL</h1>

<h2>First import the python module containing the API</h2>

In [1]:
import pymysql

ImportError: No module named 'pymysql'

<h2>Set up a connection and create a cursor object</h2>

In [14]:
db = pymysql.connect("localhost","root","None" ,database="schooldb")
cursor = db.cursor()

<h2>Execute a query and get the results</h2>

In [16]:
cursor.execute('show tables;')
cursor.fetchall()

(('Course',), ('Enrolls_in',), ('Student',))

In [21]:
query = """
SELECT course.name FROM student 
INNER JOIN enrolls_in ON student.ssn = enrolls_in.ssn 
INNER JOIN course ON course.number = enrolls_in.class
WHERE f_name = "JOHN";
"""
cursor.execute(query)
cursor.fetchall()

(('Data analytics',), ('Python',))

In [ ]:
# 向数据库插入数据
insert = 'INSERT INTO Student VALUES ("", "")' 
cursor.execute(insert)
cursor.fetchall()

In [ ]:
# 同步到数据库
db.commit()